@media (max-width:991px) {
    
    /* custon css */
    section{
        padding: 30px 0;
    }
    h2{
        font-size: 30px;
        line-height: 40px;
    }
    h3{
        font-size: 20px;
    }

    /* navbar */
.header-scrolled{
    height: auto;
}
.header_wrapper .menu-navbar-nav{
    text-align: center;
    background-color: var(--bg-dark-blue);
    padding-bottom: 15px;
}
.header_wrapper .nav-item .nav-link{
    margin-top: 15px;
}
.banner_wrapper{
    padding: 200px 0;
}

    /* banner wrapper */



    /* about */
.about-wrapper ul.nav-pills{
    width: 61%;
    margin: auto;
}


    /* portfolio */
.protfolio-wrapper .card{
    min-height: 400px;
}



}

@media (max-width: 767px) {
    
    /* custon css */
    
    h1{
        font-size: 40px;
        line-height: 48px;
    }
    h2{
        font-size: 25px;
    }
    p{
        font-size: 13px;
        line-height: 24px;
        padding: 30px 0;
        }
    

    /* about */
.about-wrapper ul.nav-pills {
    width: 100%;
    margin: auto;
    border: 0;
}
.about-wrapper ul li .nav-link{
    font-size: 13px;
}
    
    
    /* portfolio */
.protfolio-wrapper .card {
    min-height: 500px;
}

}

























