/* TABLE OF CONTENTS */
/* 
1. GENERAL
2. NAVBAR
3. BANNER
4. ABOUT
5. SERVICES
6. PORTFOLIO
7. CONTACT
8. FOOTER 
----------------------------------*/

/* 1 General */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* background color */
    --primary-color: #fd4766;
    --secondery-color: #0e1525;
    --bg-dark-blue: #091020;
    --bg-white: #fff;
    --gray-color: #c6c9d8bf;
    --grandient-color: linear-gradient(-224deg, var(--primary-color) 0, #337dff 100%);
    --gradient-text: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, var(--primary-color) 79.69%);

    /* text color */
    --primeary-font: 'Poppins', sans-serif;
    --primary-text: #FD4766;
    --text-gray: #c6c9d8bf;
    --text-white: #fff;
}

body{
    font-family: var(--primeary-font);
    background-color: var(--secondery-color);
}

a{
    text-decoration: none;
}

/*  Custom CSS */

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track{
    background: var(--bg-dark-blue);
}

::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}

input[type=number]::-webkit-inner-spin-button
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

section{
    padding: 50px 0;
}

.main-btn{
    display: inline-block;
    border-radius: 50px;
    transition:all .4s ease-in-out;
    padding: 10px 27px;
    background-color: transparent;
    border: 2px solid var(--gray-color);
    color: var(--text-gray);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
.main-btn:hover{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-white);
}
h1{
    font-size: 54px;
    line-height: 68px;
    font-weight: 800;
    color: var(--text-white);
    margin-bottom: 20px;
}
h1 span{
    color: var(--primary-color);
}
h2{
    font-size: 54px;
    line-height: 1.3;
    font-weight: 600;
    color: var(--text-white);
    margin-bottom: 15px;
}
h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-white);
    margin-bottom: 19px;
}
h6{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    color: var(--text-gray);
    margin-bottom: 20px;
}
p{
    color: var(--text-gray);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 400;
}
.subtitle{
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.5px; 
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 12px;
    background: var(--grandient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
input:hover,
input:focus,
textarea:focus,
textarea:hover,
button{
    outline: none !important;
    box-shadow: none !important;
}

/* 1 navbar */
.header_wrapper .navbar{
    padding: 15px 0;
    -webkit-transform: all .2s linear;
    -o-transform: all .2s linear;
    transform: all .2s linear;
}

.header_wrapper .navbar-brand img{
    max-width: 120px;
    height: auto;
}

.header_wrapper .navbar-toggler{
    border: 0;
    color: var(--gray-color);
    line-height: 2;
}

.header_wrapper .navbar-toggler:focus{
    box-shadow: none;
}

.header_wrapper .nav-item{
    margin: 0 10px;
}

.header_wrapper .nav-item .nav-link{
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-gray);
    display: inline-block;
}
.header_wrapper .nav-item .nav-link::after{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: 0.3s;
    bottom: 0;
}

.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after{
    width: 100%;  
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover{
    color: var(--text-white);
}

.header-scrolled{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-dark-blue);
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
}

.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover {
    color: var(--primary-text);
}

/* 2 banner */
.banner_wrapper{
    width: 100%;
    height: auto;
    min-height: 650px;
    background-image: url(../images/bg-image.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px 0 100px 0;
}

/* 3 About */

.about-wrapper ul.nav-pills{
    border: 1px solid var(--gray-color);
    border-radius: 50px;
}
.about-wrapper ul li .nav-link{
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.45s cubic-bezier(0,0,0.2,1);
    display: inline-block;
    color: var(--text-gray);
    border: 0;
}
.about-wrapper ul li .nav-link.active{
    background-color: var(--primary-color);
}
.about-wrapper .single-progress{
    margin-top: 25px;
    position: relative;
    overflow: hidden;
}
.about-wrapper .single-progress .progress{
    height: 4px;
    border-radius: 4px;
    box-shadow: none;
    background-color: var(--bg-white);
    overflow: visible;
}
.about-wrapper .single-progress .progress-bar{
    background-image: var(--grandient-color);
}
.about-wrapper .single-progress h6{
    text-align: left;
}
.about-wrapper .single-progress .label{
    position: absolute;
    right: 0;
    top: 0;
    color: var(--gray-color);
    font-size: 15px;
}
.about-wrapper .tab-pane li{
    color: var(--gray-color);
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 300;
    list-style: none;
}
.about-wrapper .tab-pane li a{
    font-weight: 500;
    display: block;
    color: var(--gray-color);
}
/* 4 Services */

.services-wrapper .card{
    background-color: var(--bg-dark-blue);
    cursor: pointer;
    transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
    box-shadow: 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
.services-wrapper .card:hover{
    box-shadow: 0px 2px 70px 0px rgb(253, 71, 102 / 5%);
    transform: translateY(-5px);
}

/* 5 portfolio */

.protfolio-wrapper .card{
    height: 100%;
    min-height: 300px;
    overflow: hidden;
    border: 1px solid var(--bg-white);
    cursor: pointer;
    box-shadow: 0 0 16px 4px var(--bg-dark-blue);
}
.protfolio-wrapper .card span{
    transition: background-position 4s ease-in-out 0s;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
}
.protfolio-wrapper .card:hover span{
    background-position: bottom center;
}

/* 6 Contact */
.contact-wrapper .form-control,
.contact-wrapper textarea{
    background-color: transparent;
    border-color: var(--gray-color);
    color: var(--gray-color);
    font-size: 15px;
    font-weight: 400;
    padding: 10px 20px;
}
.contact-wrapper .form-control:hover,
.contact-wrapper textarea,
.contact-wrapper .form-control:focus,
.contact-wrapper textarea:focus{
    border-color: var(--primary-color);
    color: var(--text-white);
}
.contact-wrapper .call-details{
    color: var(--text-gray);
}
.contact-wrapper .call-details a{
    font-weight: 700;
    color: var(--text-gray);
}

/* 7 Footer */
.footer-wrapper{
    background-color: var(--bg-dark-blue);
    padding: 20px 0;
}
.footer-wrapper .footer-logo img{
    width: 100px;
}
.footer-wrapper .social-icon li{
    margin: 6px;
}
.footer-wrapper .social-icon a{
    width: 35px;
    height: 3px;
    line-height: 32px;
    font-size: 14px;
    display: inline-block;
    border: 2px solid var(--text-color);
    color: var(--text-white);
    text-align: center;
    border-radius: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.footer-wrapper .social-icon a:hover{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-white);
    box-shadow: 0 10px 15px 0 rgb(0, 0, 0 / 10%);
    transform: translateY(-3px);
}
.footer-wrapper .copyright-text p{
    font-size: 11px;
    line-height: 20px;
}
.footer-wrapper .copyright-text a{
    color: var(--primary-color);
}




















